@page
@model StudentsandDisciplines.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.NameStudent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.NameStudent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.DisciplineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.DisciplineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.assessmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.assessmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.totalPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.totalPoints)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.StudentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
